bin/
obj/
build/
*.user
*.suo
.vs/

site/node_modules/
site/dist/
site/.astro/

editors/vscode/node_modules/
editors/vscode/server/

/examples/*.c
/examples/*.c

/editors/vscode/cx-language-0.1.7.vsix
/.idea/.idea.Cx/.idea/.gitignore
/.idea/.idea.Cx/.idea/.name
/.idea/.idea.Cx/.idea/indexLayout.xml
/.idea/.idea.Cx/.idea/vcs.xml
